<div class="container">
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
    <div class="container-card">
        <h2 class="container-card__asistant">
            Büşra Bilgin
        </h2>
        <h4 class="container-card__student">
            <ul>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
                <li>Büşra Bilgin</li>
            </ul>
    </div>
</div>